*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #141414;
    color: white ;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden !important;
}
nav{
    background-color: #14141400!important;
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 0.927) 90%);;
    position: fixed;
    top: 0;
    transition: background-color 0.5s ease;
}

svg{
    color: white ;
    
}

.navbar-toggler{
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
}

.nav-link{
  color: rgb(228, 225, 225) !important;
    
}

.home{
    color:white !important;
}
.nav-link:hover{
  color: rgba(198, 194, 194, 0.701) !important;
    
}

.clear{
    background-color: #14141446 !important;
}

nav.scroll {
    background-color: #141414!important;
    color: white !important;
    transition: background-color 0.5s ease;
}

/*? ----------section-------- */

main{
  width: 100vw !important;
}

.container{
    width: 100vw !important;
    max-height:100%;
    position: relative;
    margin: 0;
    display: flex;
    overflow-x: hidden;
}

.main{
    
    width: 100%;
    max-height: 100vh;
    position: relative;
    animation: fade 1s ease-in-out;
    
}

@keyframes fade{
    to{
        ocacity: 1;
    }
    from{
        ocacity: 0;
    }
}

.main img{
    position: relative;
    display: block;
    flex: 1 1 0px;
    height: auto;
    filter: brightness(80%);
    flex-shrink: 0;
    width: 100vw; 
    margin: 0  
}

.main .content {
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: white;
    max-width: 470px;
    text-shadow: 0 0 1px black, 0 ;
}

.content h2{
    font-size: 2em;
    letter-spacing: 2px;
}

.content .btn2{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: rgba(94, 94, 94, 0.331);
    padding: 10px 15px;
    border: none;
    width: 8rem;
    outline: none !important;
    text-decoration: none !important;
}
.content .btn1{
    display: inline-block;
    text-decoration: none;
    color: #141414;
    background: rgba(255, 255, 255, 0.879) !important;
    padding: 10px 15px;
    border: none;
    margin-right:10px;
    max-height: 3rem;
    width: 8rem;
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
}

.content .btn2:hover{
    background: rgba(57, 56, 56, 0.331);
  
}
.content .btn1:hover{
    background: rgba(220, 220, 220, 0.557) !important;
  
}

.label{
    margin: 0 auto !important;
    align-self: center;
    margin-bottom: 15px !important;
    z-index: 2;
    background-color: #141414;
    width: 10rem;
    border-radius: 15px;
    display:grid;
    place-items: center;
    color:white !important;
    text-decoration: none !important;
    text-transform: none !important;
}
.label:hover{
    color: #E50914 !important;
}

.label2{
  margin-top: 28px !important;
}

.sec2{
    width: 100vw;
    display: grid;
    place-items: center;
    z-index: 2;
}

.scroller{
    margin-top: -30px !important;
    display: flex;
    flex-wrap: wrap;
    transition: all transform 500ms;
   
    
}
 .tech{
    margin-top: 6%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
}

.item {
  position: relative;
  display: block;
  transition: all 0.8s ease !important;
  
}
.item:hover {
  transition: all 0.8s ease !important;
  
}

@media screen and (max-width:1025px ) and (min-width:580px ){
  .infoBtn{
    width:100%;
    background: #E6050E;
    color: #FFFFFF;
    border: none;
    outline: none;
    text-decoration: none;
    margin:0;
    padding: 0;
    display: inline-block !important;
    cursor: pointer;
  }
  
}

.infoBtn{
  display: none;
}

.dropZone{
  background-color:rgb(45, 44, 44) !important;
  padding: 18px;
  display: none;
  transition: transform 1500ms;
  margin-bottom: 20px;
  z-index: 999;

}

.dropZone.active{
  display : block;
  transition : all 0.5s !important;
  margin-right : 15px;
  position : absolute ;
}

@media (max-width: 580px) {
  .dropZone{
    display: block;
    
  }
}

.projectBtn{
  margin: 5px;
  
}

.linkBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}


.scroller .item:focus,
.scroller .item:hover {
  transform: scale(1.1);
  z-index: 3;
}

.tech .item:focus,
.tech .item:hover {
  transform: scale(1.1);
}


.item iframe {
  display: block;
  max-width: 100%;
  max-height: 300px;
}
.tech iframe {
  display: block;
  width: 18rem;
  margin-left: 0;
  margin-right: 0;   
}


.MagicScroll{
  padding:10;
}

@media screen and (max-width: 985px) {
    main {
      overflow-x: hidden !important;
    }
    .main img{
        position: relative;
        display: block;
        flex: 1 1 0px;
        height: auto;
        filter: brightness(80%);
        flex-shrink: 0;
        max-width: 100vw; 
        margin: 0  
    }
    .main .content {
        position: relative;
        left: 0px;
        bottom: 0;
        color: white;
        max-width: 100vw;
        text-shadow: 0 0 1px black, 0 ;
        display:grid;
        place-items: center;
        text-align: center;
    }

    .scroller{
        margin-top: 0 !important ;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: all 0.8s !important;
    }

    .btn{
        margin: 0 auto !important;
       margin-bottom: 7% !important;
       outline: none !important;
       text-decoration: none !important;
       border: none !important;
    }
    .label{
        background-color: none;
        width: 8rem;
        color: white;
    }

.scroller .item{
  margin-bottom: 15px !important;
 
}
.tech .item:focus,
.tech .item:hover {
  transform: scale(1.2);
 
  }
}

  /* footer */
  .site-footer
{
  background-color:#141414;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  
}

.site-footer ul li{
  list-style-type: none;
    
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.email:hover
{
  background-color:#3b5998
}
.social-icons a.github:hover
{
  background-color:#fff;
  color:#000;
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media (max-width:570px)
{
  .scroller .item:focus,
.scroller .item:hover {
  transform: scale(1);
  z-index: 1;
 
}
.tech .item:focus,
.tech .item:hover {
  transform: scale(1);  
 
}
}

.techStack{
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.row1{
    display:flex;
    align-items: center;
    justify-content: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row{

  margin-left: 0 !important;
  margin-right: 0 !important;
  
}
.con{
    font-size:6rem;
    color:#737373;
    margin: 10px;
    z-index: -1;
}


@import url(//db.onlinewebfonts.com/c/0d5f8cc3c1312e1f7c94b4ccf48733c0?family=Netflix+Sans+Icon);
@font-face {font-family: "Netflix Sans Icon"; 
    src: url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.eot"); 
    src: url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0d5f8cc3c1312e1f7c94b4ccf48733c0.svg#Netflix Sans Icon") format("svg"); } 
